.homeMainWrapper {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 120px 170px;
}

.textWrapper {
	padding: 60px 0;
}

.mainText {
	color: var(--white, #fff);
	font-family: Fira Code;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;

	& span {
		color: var(--primary, #c778dd);
	}
}

.subText {
	color: var(--gray, #abb2bf);
	font-family: Fira Code;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px; /* 156.25% */
	margin-top: 32px;
}

.image {
	max-width: 25vw;
}

.mainButton {
	margin-top: 24px;
}
