.navWrapper {
	position: fixed;
	display: flex;
	align-items: center;
	height: 7vh;
	margin: 0 170px;
	background-color: #282c33;
	justify-content: space-between;
	width: calc(100% - 340px);
}

.logo {
	color: var(--white, #fff);
	font-family: Fira Code;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
